@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


body,
h1,
a {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    /* background-color: #61677A; */
    background: linear-gradient(90deg, #61677A, #2e3033);
    font-family: 'Poppins', sans-serif;
    position: relative;
    width: 100%;
}


a {
    padding: 0px 20px;
}

dialog .password-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

dialog {
    background-color: #FFF6E0;
    

}

.add-dialog {
    border-radius: 20px;
    height: 255px;
    width: 250px;
    border: 1px solid rgb(206, 202, 202);
    background-color: #D8D9DA;
    backdrop-filter: blur(15px);
}

dialog button {
    margin-bottom: 20px;
    height: 30px;
    font-family: 'Poppins', sans-serif;
    border-radius: 30px;
    border: none;
    font-weight: 800;
    background-color: #61677A;
    color: white;
    
    transition: 0.5s;
}

dialog form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



dialog input {
    height: 35px;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    border-radius: 40px;
    border: 1px solid rgb(122, 118, 118);
    padding: 0px 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    outline: none;
}

.dialog {
    border: 1px solid black;
    

}

.add {
    width: 60px;
    height: 60px;
}


.top-page {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #272829;
    height: 80px;
}

.top-page h1 {
    width: 280px;

}

.user-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
}

.user-info h3 {
    padding-left: 10px;
}

.drop-icon {
    width:20px;
    height: 20px;
    margin-top: 3px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 50px;
    left: 150px;
    border-radius: 3px;
    background-color: #333;
    box-shadow: 3px 3px 10px black;
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.icon-btn {
    border: none;
    background-color: transparent;
}

.dropdown-content a:hover {
    background-color: #555;
}




dialog button:hover {
    transform: scale(1.1);
}

.add-password {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 180px;
    background-color: #D8D9DA;
    border: none;
    padding-right: 15px;
    border-radius: 70px;
    margin-top: 20px;
    margin-left: 20px;
    transition: 0.5s;
    cursor: pointer;
    box-shadow: 3px 3px 10px black;


}

.add-password:hover {
    transform: scale(1.1);
}


.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
    padding: 30px 20px 20px 20px;
}

.container .image-box {
    padding-bottom: 20px;
}

.container img {
    width: 100px;
    height: 100px;
}


.password {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 200px;
    background-color: #D8D9DA;
    border-radius: 15px;
    transition: 0.5s;
    cursor: pointer;
    box-shadow: 3px 3px 10px black;

}

.password:hover {
    transform: scale(1.1);
}

.password .label-box {
    padding: 20px;
    font-size: medium;
    text-align: center;
}


.password-box {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    font-weight: 700;
    font-size: 1.25rem;
    transition: 0.5s;

}


.password-actions a {
    text-decoration: none;
}

.message {
    text-align: center;
    
}


@media (max-width:470px){

    .top-page h1 {
        /* padding: 13px 20px; */
        font-size: large;
        padding-left: 90px;
    
    }
}